@model The_Garage.Models.MemberDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Member</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-6">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-6">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-6">
            @Html.DisplayNameFor(model => model.NumberOfVehicles)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.NumberOfVehicles)
        </dd>
    </dl>

    <div class="member-vehicles">
        <h4>Member Vehicles</h4>
        <dl>
            @foreach (var item in Model.TheVehicles)
            {
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(modelItem => item.Brand)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(modelItem => item.Brand)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(modelItem => item.RegNr)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(modelItem => item.RegNr)
                </dd>
            }
        </dl>
    </div>

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
