@model IEnumerable<The_Garage.Models.DetialViewModel>

@{
    ViewData["Title"] = "AllVehiclesDetailsView";
}

<h1>AllVehiclesDetailsView</h1>

<p>
    <a asp-action="Create">Park A Vehicle</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RegNr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeOfParking)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumnOfWheels)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModelOfVehicle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>            
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RegNr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeOfParking)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumnOfWheels)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModelOfVehicle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Member)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
