@model IEnumerable<The_Garage.Models.Vehicles>

@{
    ViewData["Title"] = "The Garage";
}

<h1>The Garage</h1>

<p>
    <a asp-action="Create">Park A Vehicle</a>
</p>

<form asp-action="Search">
    <div class="input-group mb-3">
        <input type="text" name="term" class="form-control" placeholder="Search on registration number or type of vehicle" />
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary"><i class="fa fa-search">Search</i></button>
        </div>
    </div>
    @if (ViewBag.Message != null)
    {
        <div class="alert alert-warning mb-3">
            <span>@ViewBag.Message</span>
        </div>
    }
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RegNr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeOfParking)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RegNr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeOfParking)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type.TypeOfVehicle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Member.FirstName)
                    @Html.DisplayFor(modelItem => item.Member.LastName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="UnPark" asp-route-id="@item.Id">UnPark</a>
                </td>
            </tr>
        }
    </tbody>
</table>
